towerv2_src/build
towerv2_src/autom4te.cache
towerv2_src/config*
towerv2_src/depcomp
towerv2_src/ltmain.sh
towerv2_src/missing
towerv2_src/Makefile.in
towerv2_src/aclocal.m4
towerv2_src/CosmicTree*
towerv2_src/install-sh

waveform_src/build
waveform_src/autom4te.cache
waveform_src/config*
waveform_src/depcomp
waveform_src/ltmain.sh
waveform_src/missing
waveform_src/Makefile.in
waveform_src/aclocal.m4
waveform_src/CosmicTree*
waveform_src/install-sh

1008_pedestal_analysis
ihcal_condor
ohcal_condor
emcal_condor
macro

emcal_macros/*.root
emcal_macros/*.txt

emcal_new/*.root
emcal_new/*.txt
emcal_new/*.err
emcal_new/*.out

hcal_macros/*.root
hcal_macros/*.txt